<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      body {
        background-image: linear-gradient(to bottom, #f3f3f3, #cccccc);
      }

      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .registration-link {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    </style>

    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to our Website</h1>
      <p>Thank you for considering registering with us. To complete the registration, please fill out the form provided.</p>
      <p>If you need any assistance, please don't hesitate to contact our support team.</p>
      
      <a href="/" class="registration-link">Go to Registration</a>
    </div>
  </body>
</html>
